* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
    /* body color */
body {
    background: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}
    /* header img and position */
header {
   background-image: url('../images/Tracks.JPG');
   background-size: cover;
   height: 40vh;
   background-position: 50% 50%;
}
    /* h1 css */
h1 {
    color: #f2f4f7;
    position: absolute;
    height: 90px;
    left: 30px;
    top: 17px;
    font-size: 75px;
  }
  /* nav adjustment */
nav {
    width: 95%;
    height: 35px;
    text-align: right; 
    position: relative;   
    top: 220px;
    right: 100px;
    font-size: 25px;
}
    /* a color */
a {
    color: #f2f4f7;
}

    /* h2 positioning and color */
h2 {
    font-size: 24px;
    color: black;
    position: absolute;
    left: 600px;
   margin: 50px;
}

    /* div adjustments */
div {  width: 400px;
    border: 15px solid rgb(6, 56, 60);
    padding: 50px;
    margin: 15px;
    display: block;
    margin-left: auto;
 margin-right: 60px;

}
    /* background-color: rgb(211, 35, 35);
    width: 400px; */
    /* border-style: solid #0e27b5; */
    /* border-bottom: 2px;
    border-left: 2px;
    border-right: 2px;
    border-top: 2px; */
    /* padding: 30px;
    margin: 20px;
    position: relative; */
    /* top: 0px; */
    /* left: 775px; */
/* } */
    /* aside img adjustments */
aside img {
    background-size: cover;
    position: absolute;
    height: 40vh;
    bottom: 45px;
    display: table-column-group;
    margin: 1rem;
}
    /* img one css */
#img-one {
    position: none;
    top: 257px;
    left: 110px;
}

    /* img two css */
#img-two {
    position: none;
    top: 525px;
    left: 110px;
    height: 40%;
    width: 23%;
}

    /* img three css */
#img-three{
    position: none;
    top: 800px;
    left: 110px;
    width: 318px;
}

    /* img four css */
#img-four{
    position: none;
    width: 318px;
    top: 1070px;
    left: 110px;
}
    /* footer placement */
footer {
    text-align: center;
    padding: 5px;
    background-color: black;

  }
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
}